body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h3, .first-txt{
    font-weight: normal;
}  

.container{
    width: 80%;
    height: 100vh;
    background: #ffffff;
}

.swiper{
    width: 75%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: rgb(227, 227, 227);
}

.swiper [class^="swiper-button-"]::after{
    font-size: 20px; /* changing the size of the scroll arrows*/
}

.swiper .swiper-pagination-bullet-active{
    background: rgb(227, 227, 227);
}
